.books {
  margin-top: 100px;
  padding: 0 20px;
  max-width: 900px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
.books .breadcrumb {
  color: white;
}
.books .book-title {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 20px;
}
.books .book {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media (max-width: 720px) {
  .books .book {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .books .book {
    grid-template-columns: repeat(1, 1fr);
  }
}
.books .book .book-box {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.1rem;
  background-color: #2d2d2d;
  cursor: pointer;
  transition: background-color, 0.2s;
  transition: opacity, 0.2s;
  transition: display, 0.2s;
}
.books .book .book-box:hover {
  background-color: #4a4a4a;
}
.books .book .book-box:hover .book-button {
  opacity: 1;
}
.books .book .book-box .book-name {
  color: white;
}
.books .book .book-box .book-button {
  color: white;
  border: none;
  opacity: 0;
  transition: background-color, 0.2s;
  transition: opacity, 0.2s;
  transition: display, 0.2s;
}
.books .book .book-box .book-button svg {
  height: 20px;
  width: 20px;
}