.chapters {
  margin-top: 100px;
  padding: 0 20px;
  max-width: 900px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
.chapters .breadcrumb {
  display: flex;
  align-items: center;
  color: white;
}
.chapters .breadcrumb a {
  color: #4a4a4a;
}
.chapters .chapter-title {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 20px;
}
.chapters .chapter-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.chapters .chapter-box .chapter {
  height: 50px;
  width: 50px;
  background-color: #2d2d2d;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}
.chapters .chapter-box .chapter:hover {
  background-color: #4a4a4a;
}