.verses {
  margin-top: 100px;
  padding: 0 20px;
  max-width: 900px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.verses .breadcrumb {
  display: flex;
  align-items: center;
  color: white;
}
.verses .breadcrumb a {
  color: #4a4a4a;
}
.verses .verse-title {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 20px;
}
.verses .verse-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.verses .verse-box .verse-button {
  height: 50px;
  width: 50px;
  background-color: #2d2d2d;
  margin: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: background-color, 0.2s;
  transition: opacity, 0.2s;
  transition: display, 0.2s;
}
.verses .verse-box .verse-button:hover {
  background-color: #4a4a4a;
}
.verses .single-verse {
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
}
.verses .single-verse .single-verse-box {
  max-width: 900px;
  transform: translateY(30vh);
  margin-left: auto;
  margin-right: auto;
}
.verses .single-verse .single-verse-box .single-verse-text {
  font-size: 1.5rem;
}
.verses .single-verse .single-verse-box .single-verse-ref {
  font-size: 1.2rem;
  text-align: right;
}
.verses .verse-content p {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 20px;
}
.verses .verse-content .verse-text {
  font-size: 1rem;
  line-height: 2;
}