<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    Home page
    <div class="bible-versions">

    </div>
</body>

<script type="text/javascript">
    const data = '<%- bbData %>'
    const engBible = JSON.parse(data);
    console.log(engBible);

    const bibleVersion = ${'.bible-version'}.
</script>

</html>