<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OH MY BIBLE</title>
    <link rel="stylesheet" href="/styles/css/header.css">
    <link rel="stylesheet" href="/styles/css/search.css">
    <style>
        body {
            margin: 0;
            position: relative;
            background-color: rgb(25, 25, 25);
        }

        p {
            margin: 0;
        }

        h1,
        h2,
        h3 {
            margin: 0;
        }

        a {
            text-decoration: none;
        }

        ul {
            list-style: none;
            padding: 0;
        }
    </style>
</head>

<body>
    <!-- Header -->
    <%- include ('components/header.ejs');%>
    <div class="search">

        <p class="search-query">
            Results for "<%= results.query %>"
        </p>

        <p class="search-number" id="search-id">

        </p>


        <div class="search-box" id="search-box">

        </div>

    </div>

    <script>
        //query results next / pre page
        const temp = '<%- JSON.stringify(results) %>';
        const list = JSON.parse(temp).verses;
        console.log(list);

        //Pagination
        const resultsPerPage = 10;
        const totalPages = Math.floor(list.length / 10) + 1;
        console.log(totalPages);

        //DOM
        const index = 0;
        getList(index);
        function getList(index) {
            //2. set button 
            //3. set text
        // <p class="search-number">

        // </p>
            const searchNumer = document.getElementById('search-id');
            //1. render currentList
            const searchBox = document.getElementById('search-box');
            //header element
            const temp2 = '<%- JSON.stringify(bibleId) %>';
            const bibleId = JSON.parse(temp2);

            let header = document.getElementsByClassName('header-container')[0];

            const headerForm = document.createElement('form');
            headerForm.action = `/${bibleId}/search`;
            headerForm.method = 'GET';
            headerForm.className = 'header-form';
            headerForm.onsubmit = 'handleSubmit';

            //input element
            const headerInput = document.createElement('input');
            headerInput.type = 'text';
            headerInput.className = 'header-input';
            headerInput.placeholder = 'Search...';
            headerInput.name = 'query';

            headerForm.appendChild(headerInput);
            header.appendChild(headerForm);

            //loop            
            let currentList;

            if (list.length <= 10) {
                currentList = list;
            } else {
                currentList = list.slice(index, index + resultsPerPage);
            }

            currentList.forEach(e => {
                //Create element
                const searchContent = document.createElement('div');
                const searchTitle = document.createElement('p');
                const searchText = document.createElement('p');
                const searchButton = document.createElement('a');
                const searchSVG = document.createElementNS("http://www.w3.org/2000/svg", 'svg');
                const searchPath = document.createElementNS("http://www.w3.org/2000/svg", 'path');

                //Add className
                searchContent.className = 'search-content';
                searchTitle.className = 'search-title';
                searchText.className = 'search-text';
                searchButton.className = 'search-button';

                //innerhtml
                searchTitle.innerHTML = e.reference;
                searchText.innerHTML = e.text;
                searchButton.innerHTML = 'VIEW CHAPTER';
                searchButton.href = `/${bibleId}/chapters/${e.chapterId}`;

                //SVG
                searchSVG.setAttributeNS(null, 'fill', 'currentColor');
                searchSVG.setAttributeNS(null, 'width', '20');
                searchSVG.setAttributeNS(null, 'height', '20');
                searchSVG.setAttributeNS(null, 'viewBox', '0 0 16 16');

                //Path
                searchPath.setAttributeNS(null, 'full-rule', 'evenodd');
                searchPath.setAttributeNS(null, 'd', 'M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z');

                //combine
                searchSVG.appendChild(searchPath);
                searchButton.appendChild(searchSVG);

                searchContent.appendChild(searchTitle);
                searchContent.appendChild(searchText);
                searchContent.appendChild(searchButton);

                searchBox.appendChild(searchContent);
            })

        }
    </script>
</body>

</html>