@import "./variables";

.books{
    margin-top:100px;
    padding:0 20px;
    max-width:$globalWidth;
    margin-bottom:40px;
    @include marginCenter;

    .breadcrumb{
        color:$primaryColor;
    }

    .book-title{
        font-size: $fsz3;
        color:$primaryColor;
        margin-bottom: 20px;
    }

    .book{
        width:100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap:20px;

        @include md{
            grid-template-columns: repeat(2, 1fr); 
        };

        @include sm{
            grid-template-columns: repeat(1, 1fr); 
        };

        .book-box{
            padding:10px;
            @include flexCenterH2;
            border-radius: 0.1rem;
            background-color:$primaryColor3;
            cursor: pointer;

            &:hover{
                background-color:$primaryColor4;
            }

            &:hover .book-button{
                opacity:1;
            }

            .book-name{
                color:$primaryColor;
            }

            .book-button{
                color:$primaryColor;
                border:none;
                opacity:0;
            }

            .book-button svg{
                height:20px;
                width:20px;
            }
        }
    }
}