@import "./variables";

.books{
    margin-top:100px;
    padding:0 20px;
    max-width:$globalWidth;
    @include marginCenter;

    .breadcrumb{
        color:$primaryColor;
    }

    .book{
        width:100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap:20px;

        .book-box{
            padding:10px;
            @include flexCenterH2;
            border-radius: 0.1rem;
            background-color: rgb(45, 45, 45);
            cursor: pointer;

            &:hover{
                background-color:rgb(74, 74, 74);
            }

            &:hover .book-button{
                opacity:1;
            }

            .book-name{
                color:$primaryColor;
            }

            .book-button{
                color:$primaryColor;
                border:none;
                opacity:0;
            }

            .book-button svg{
                height:20px;
                width:20px;
            }
        }
    }
}