@import "./variables";

.home-image{
    width:100%;    
    height:80vh;
    @include flexCenterH;
    @include imageCenter;
    @include fade;
    background-image:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6), rgba(0,0,0,0.8)),url('../../images/1.jpeg') ;
    transition:background-image, 0.5s;
    background-attachment: fixed;
    .home-verse{
        color:$primaryColor;
        max-width:$globalWidth;
        @include marginCenter;
        padding: 0 20px;
    }

    .home-verse-text{
        font-size: $fsz3;
        line-height:1.5;
    }

    .home-verse-chapter{
        font-size: $fsz1;
        text-align: right;
    }
}

.home-bible-box{
    margin-top:20px;
    padding:0 20px;
    max-width:$globalWidth;
    margin-bottom:40px;
    @include marginCenter;

    .home-bible-title{
        font-size: $fsz3;
        color:$primaryColor;
        margin-bottom: 20px;
    }


    .home-bible-versions{
        display:grid;
        grid-template-columns: repeat(3, 1fr); 
        gap:20px;

        @include md{
            grid-template-columns: repeat(2, 1fr); 
        };

        @include sm{
            grid-template-columns: repeat(1, 1fr); 
        };

        .home-bible-version{
            height:200px;
            background-color:$primaryColor3;
            position:relative;
            padding:10px 20px;
            @include flexCenterH;
            @include fade;
            cursor: pointer;

            &:hover{
                background-color:$primaryColor4;
            }

            &:hover .version-button{
                opacity:1;
            }


            .home-bible-version-box{
                height:60%;
                @include flexCenterV3;
                .version-abbr{
                    color:$fc1;
                    font-size: $fsz3;
                    text-align:left;
                    margin-top: 0;
                    margin-bottom:30px;
                }

                .version-name{
                    color:$fc1;
                    text-align:left;
                }
            }
            
            .version-button{
                position:absolute;
                top:0;
                right:0;
                background-color: $primaryColor;
                width:50px;
                height:50px;
                border:none;
                opacity:0;
                cursor: pointer;
                @include fade;
            }
        }
    }
}

