@import './variables';
@import './footer';
@import './header';

.search{
    margin-top:100px;
    padding:0 20px;
    max-width:$globalWidth;
    margin-bottom:40px;
    @include marginCenter;

    .search-query{
        color:$primaryColor;
        font-size: $fsz3;
        font-family:$ff;
        margin-bottom:20px;
    }

    .search-number{
        color:$primaryColor;
        font-size: $fsz1;
        font-family:$ff2;
        margin-bottom:20px;
    }

    .search-box{

        .search-content{
            margin-bottom:20px;
            color:$primaryColor;
            padding:30px 20px;
            border-radius: 0.2rem;
            background-color: $primaryColor3;
            &:hover{
                background-color: $primaryColor4;
            }
            @include fade;
            .search-title{
                font-size: $fsz3;
                font-family:$ff2;
                margin-bottom: 20px;
            }
            .search-text{
                font-size: $fsz1;
                font-family:$ff3;
                font-weight:$fw1;
                color:rgb(184, 184, 184);
                margin-bottom: 20px;
            }

            .search-button{
                font-size: $fsz1;
                font-family:$ff2;
                font-weight:$fw2;
                color:rgb(184, 184, 184);
                cursor: pointer;
                @include flexCenterH;
                @include fade;
                &:hover{
                    color:white;
                }

                svg{

                    margin-left:10px
                }
            }
        }
    }
    .search-page-buttons{
        @include flexCenterH;
        .search-page-button{
            font-family:$ff2;
            font-size: $fsz1;
            width:130px;
            padding:15px 0;
            margin-right: 20px;
            border:0.1px  $primaryColor4 solid ;
            border-radius: 0.2rem;
            background-color:rgb(25,25,25);
            color: $fc3;
            cursor: pointer;
        }

        .active{
            color:white;
        }
    }
}
