// Color Schema
$primaryColor: white;
$primaryColor2: black;
$accentColor: blue;

//Font system
$fontStyle:'times';
$fontSize1:1rem;
$fontSize2:1.2rem;
$fontSize3:1.5rem;

//tool
$full:100%;

//Flex
@mixin flexCenterH{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flexCenterV{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

//Image
@mixin imageCenter($url){
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    background-image:url($url);
}