//Global width
$globalWidth:800px;

// Color Schema
$primaryColor: white;
$primaryColor2: black;
$accentColor: blue;

//Font system
$fontStyle:'times';
$fontSize1:1rem;
$fontSize2:1.2rem;
$fontSize3:1.5rem;

//Flex
@mixin flexCenterH{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flexCenterV{
    display: flex;
    flex-direction: column;
}

//Image
@mixin imageCenter($url){
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    background-color: url($url);
}

@mixin imageCenterGradient($url){
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    background-image:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6), rgba(0,0,0,0.8)), url($url);
}

//Margin
@mixin marginCenter{
    margin-left:auto;
    margin-right:auto;
}