//Global width
$globalWidth:900px;

// Color Schema
$primaryColor: white;
$primaryColor2: black;

$primaryColor3:rgb(45,45,45);
$primaryColor4:rgb(74,74,74);

$accentColor: blue;

//Font system
$fst:'times';
$fsz1:1rem;
$fsz2:1.2rem;
$fsz3:1.5rem;

$fc1:white;
$fc2:rgb(171, 164, 164);
$fc3:rgb(104, 99, 99);

//Flex
@mixin flexCenterH{
    display: flex;
    align-items: center;
}

@mixin flexCenterH2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@mixin flexCenterV{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

@mixin flexCenterV2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
}

@mixin flexCenterV3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

//Image
@mixin imageCenter($url){
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    background-color: url($url);
}

@mixin imageCenterGradient($url){
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    background-image:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6), rgba(0,0,0,0.8)), url($url);
}

//Margin
@mixin marginCenter{
    margin-left:auto;
    margin-right:auto;
}

//breaker points
$breakpoints:(
    "sm":480px,
    "md":720px,
);

@mixin sm{
    @media (max-width:map-get($breakpoints,'sm')){
        @content;
    }
}

@mixin md{
    @media (max-width:map-get($breakpoints,"md")){
        @content;
    }
}