@import "./variables";

.verses{
    margin-top:100px;
    padding:0 20px;
    max-width:$globalWidth;
    margin-bottom:40px;
    @include marginCenter;
    position: relative;

    .breadcrumb{
        @include flexCenterH;
        color:$primaryColor;

        a{
            color:$primaryColor4;
        }
    }

    .verse-title{
        font-size: $fsz3;
        color:$primaryColor;
        margin-bottom: 20px;
    }

    .verse-box{
        @include flexCenterH;
        flex-wrap:wrap;


        .verse-button{
            height:50px;
            width:50px;
            background-color:$primaryColor3 ;
            margin:0;
            margin-right:20px;
            margin-bottom:20px;
            text-align: center;
            color:$primaryColor;
            border:none;
            @include flexCenterV;
            text-align: center;
            cursor: pointer;
            @include fade;

            &:hover{
                background-color: $primaryColor4 ;
            }
        }
    }

    .single-verse{
        position:fixed;
        top:0;
        left:0;
        color:$primaryColor;
        height:100vh;
        width:100vw;
        background-color:rgba(0, 0, 0, 0.9);

        .single-verse-box{
            max-width:$globalWidth;
            transform:translateY(30vh);
            @include marginCenter;

            .single-verse-text{
                font-size: $fsz3;
            }

            .single-verse-ref{
                font-size: $fsz2;
                text-align:right;
            }
        }
    }

    .verse-content{
        p{
            font-size: $fsz3;
            color:$primaryColor;
            margin-bottom: 20px;
        }  

        .verse-text{
            font-size: $fsz1;
            line-height: 2;
        }
    }
}