@import "./variables";

.verses{
    margin-top:100px;
    padding:0 20px;
    max-width:$globalWidth;
    @include marginCenter;

    .breadcrumb{
        @include flexCenterH;
        color:$primaryColor;

        a{
            color:$primaryColor4;
        }
    }

    .verse-title{
        font-size: $fsz3;
        color:$primaryColor;
        margin-bottom: 20px;
    }

    .verse-box{
        @include flexCenterH;
        flex-wrap:wrap;


        .verse{
            height:50px;
            width:50px;
            background-color:$primaryColor3 ;
            margin-right:20px;
            margin-bottom:20px;
            text-align: center;
            color:$primaryColor;
            &:hover{
                background-color: $primaryColor4 ;
            }
        }
    }
}